@font-face {
    font-family: STEPS;
    src: url('STEPS.ttf');
}

@font-face {
    font-family: ElecstromRegular;
    src: url('ElecstromRegular-w1y4P.ttf');
}
:root{
    --bord: 2px solid white;
    --primary-color: rgb(153 34 243); 
    --primary-color2:rgb(213 158 255);
    --rgb1:#200ba0;
    --rgb2:#ff3aff;
    --rgb3:#cd011f;
    --rgb4:#fd331c;
    --rgb5:#fd7325;
    --rgb6:#d3c040;
    --rgb7:#27b13f;
    --nice_color:#06abff;
}

html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
}

/* Preloader...  */
#preloader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 100;
}

        #preloader span{
            position: absolute;
            display: block;
            top: 39%;
            left: 0;
            width: 100%;
            font-size: 50px;
            text-align: center;
            font-family: 'STEPS';
        }

    /* Animation...  */
        #preloader ul{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
        }

        #preloader ul li{
            list-style: none;
            width: 4rem;
            height: 4rem;
            background-color: white;
            border-radius: 50%;
            animation: glow 2s ease-in-out infinite;
        }

        @keyframes glow{
            0%,
            40%,
            100%{
                transform: scale(0.2);
            }
            20%{
                transform: scale(1);
            }
        }

        #preloader ul li:nth-child(1){
            animation-delay: -2s;
            background-color: var(--rgb1);
            box-shadow: 0 0 50px var(--rgb1);
        }
        #preloader ul li:nth-child(2){
            animation-delay: -1.7s;
            background-color: var(--rgb2);
            box-shadow: 0 0 50px var(--rgb2);
        }
        #preloader ul li:nth-child(3){
            animation-delay: -1.4s;
            background-color: var(--rgb3);
            box-shadow: 0 0 50px var(--rgb3);
        }
        #preloader ul li:nth-child(4){
            animation-delay: -1.1s;
            background-color: var(--rgb4);
            box-shadow: 0 0 50px var(--rgb4);
        }
        #preloader ul li:nth-child(5){
            animation-delay: -0.8s;
            background-color: var(--rgb5);
            box-shadow: 0 0 50px var(--rgb5);
        }
        #preloader ul li:nth-child(6){
            animation-delay: -0.5s;
            background-color: var(--rgb6);
            box-shadow: 0 0 50px var(--rgb6);
        }
        #preloader ul li:nth-child(7){
            animation-delay: -0.3s;
            background-color: var(--rgb7);
            box-shadow: 0 0 50px var(--rgb7);
        }



/* Navbar... */
    #navbar{
        position: fixed;
        box-sizing: border-box;
        display: flex;
        padding: 10px;
        flex-wrap: wrap;
        width: 100%;
        justify-content: flex-end;
    }

            #logo{
                font-family: 'ElecstromRegular';
                font-size: 1.5rem;
                color: var(--primary-color2);
                padding: 5px;
                border: 5px solid var(--primary-color);
                border-radius: 50px;
                margin-right: auto ;
                background-color: black;
                margin-left: 20px;
            }

            /* Navigaion list... */
            #navbar ul{
                list-style: none;
                display: flex;
                
            }

                    #navbar ul li a{
                        text-decoration: none;
                        padding: 21px;
                        color: white;
                        font-family: 'STEPS';
                        font-size: .8rem;
                    }
                
                    #navbar ul li a:hover{
                        color: var(--primary-color2);
                        text-decoration: underline;
                    }

/* Home... */

#home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
        #home::before{
            content: '';
            position: fixed;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100%;
            z-index: -3;    
            background:url(../img/2controllers_table_edge.jpg) no-repeat center/cover;
            opacity: 0.45;
        }

        

        #home h1{
            margin-top: 20vh;
            margin-bottom: 0;
            width: 50vw; 
            text-align: center;
            font-family: 'STEPS';
            font-size: 2.5rem; 
            text-shadow: 4px 4px black;
            color: var(--primary-color2);
        }

    /* Join button... */
        #join{
            margin-top: 5vh;
            font-family: 'STEPS';
            font-weight: bold;
            box-sizing: border-box;
            font-size: 1rem;
            border-radius: 100px; 
            width: 18vw; 
            height: 5.5vh;
            border: 3px solid blue;
        }
        
        #join:hover{ 
            background-color: var(--primary-color2);
            cursor: pointer;
            color: black;
        }


    /* Arrow and arrow animation... */
        #arrow{
            position: absolute;
            top: 85%;
            left: 49%;
            z-index: 1;
        }

        #arrow span{
            display: block;
            width: 30px;
            height: 30px;
            border-bottom: 8px solid #06abff;
            border-right: 8px solid #06abff;
            transform: rotate(45deg);
            margin: -10px;
            animation: scroll 2s infinite;
        }

                #arrow span:nth-child(2){
                    animation-delay: -0.2s;
                }
                #arrow span:nth-child(3){
                    animation-delay: -0.4s;
                }
            
                @keyframes scroll{
                    0%{
                        opacity: 0;
                        transform: rotate(45deg) translate(-20px, -20px);
                    }
                
                    50%{
                        opacity: 1;
                    }
                
                    100%{
                        opacity: 0;
                        transform: rotate(45deg) translate(0px, 0px);
                    }
                }

/* Services... */
#services{
    padding-top: 5vh;
    text-align: center;
}

        #services::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 200vh;
            left: 0;
            background-color: black;
            z-index: -1;
            opacity: .7;
        }

        #services h1{
            font-size: 2rem;
            font-family: 'STEPS';
            color: var(--primary-color2);
        }

        #services p{
            font-size: 1.3rem;
            margin: 2px;
        }
    /* Services > outer flex container for boxes... */
        #container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

        }
                #container a{
                    text-decoration: none;
                
                }
                        #container h1{
                            font-size: 1.5rem;
                            margin: 0px 15px;
                            text-shadow: 2px 2px black;
                        }
                    
                    
                        #container p{
                            margin: 10px 15px;
                            font-size: 1.3rem;
                            font-weight: bold;
                            color: white;
                            padding: 3px;
                            border-radius: 50px;
                            text-shadow: 3px 3px   black;
                        }
            
            /* Services > Image boxes... */
                .box{
                    width: 45vw;
                    height: 50vh;
                    margin: 2vw 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
                    box-sizing: border-box;
                    color: var(--primary-color2);
                    text-align: left;
                }

                #box1{
                    background: url('../img/call-of-duty.jpg') no-repeat center/cover ;
                }
            
                #box2{
                    background: url('../img/gadgets3.jpg') no-repeat center/cover ;
                }

                #box3{
                    width: 93vw;
                    height: 70vh;
                    background: url('../img/game.jpg') no-repeat center/cover;
                    border: none;
                }
            
                        #box3 a{
                            margin: 0px 15px;
                            padding-bottom: 3px;
                            padding-top: 3px;
                            border: 2px solid black;
                            background-color: white
                        }
            
                        #box3 h1{
                            color: black;
                        }
                    
                        #box3 a:hover{
                            border: 2px solid white;
                            background-color: var(--primary-color2);
                            box-shadow: 3px 3px black;
                            text-shadow: 2px 2px black;
                        }
            

/* Partners... */
#partners{
    margin: 0;
    display: flex;
    margin-bottom: 5vh;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

        #partners::before{
            content: '';
            width: 100%;
            height: 150vh;
            margin: 0;
            background-color: black;
            position: absolute;
            z-index: -2;
        }

        #partners h1{
            color: var(--primary-color2);
            font-size: 2rem;
            font-family: 'STEPS';
            margin: auto;
            margin-bottom: 8vh;
            width: 90vw;
            text-align: center;
            padding-top: 10vh;
            border-top: 3px solid white;
        }

        /* Partners > images outer flex container... */
        #container3{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-evenly;
            padding-bottom: 20px;
        }
            /* Parners > image boxes... */
                .partner{
                    box-sizing: border-box;
                    width: 200px;
                    height: 200px;
                    border: 2px solid black;
                    padding: 25px;
                }


/* Contact... */
#contact{
    display: flex;   
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin: auto;
    border-top: var(--bord);
    height: 85vh;
}

        #contact::before{
            content: '';
            position: absolute;
            width:100%;
            height: 85vh;
            background: url('../img/blue controller.jpg') no-repeat center/cover;
            opacity: 0.5;
            z-index: -1;
        }

        #contact h1{
            color: var(--primary-color2);
            font-size: 2rem;
            font-family: 'STEPS';
        }
    /* contact > sub text... */
        .dv{
            font-size: 1.3rem;
            margin: 10px;
        }

                #dv1{
                    padding: 5px;
                    border-bottom: 2px solid white;
                }
    /* Contact inputs... */
        .form input{
            width: 500px;
            height: 30px;
            padding: 5px;
            box-sizing: border-box;
            margin: 8px;
            border-radius: 5px;
            color: white;
            background: rgba(0, 0, 0, .8);
            box-shadow: 2px 2px var(--primary-color);
        }

        #f4 textarea{
            width: 500px;
            padding: 5px;
            border-radius: 5px;
            box-sizing: border-box;
            margin: 5px;
            color: white;
            background: rgba(0, 0, 0, .8);
            box-shadow: 1px 1px var(--primary-color);
        }

        #f5 button{
            width: 500px;
            height: 35px;
            padding: 5px;
            box-sizing: border-box;
            margin: 10px;
            border-radius: 5px;
            background-color: rgb(0, 0, 0);
            color: rgb(192, 192, 192);
            box-shadow: -2px -2px var(--primary-color);
            /* font-weight: bold; */
            font-family: 'STEPS';
        }

        #f5 button:hover{
            background-color: rgb(144, 0, 255);
            color: black;
            font-weight: bold;
            cursor: pointer;
        }

        #f5 button:active{
            box-shadow: none;
            color: black;
            background: var(--primary-color2);
        }


/* Footer... */
footer{
    display: flex;
    background-color: black;
    align-items: center;
}

        #f_logo{
            margin: 0px 10px;
            width: 30px;
            height: 30px;
        }

        footer p{
            font-size: 1.2rem;
            width: 800px;
            margin-right: auto;
            padding-left: 20px;
            border-left: 2px solid white;
        }

        #img_box{
            margin: 0px 10px;
            width: 100px;
        }

                .ibox img{
                    width: 30px;
                    height: 30px;
                }
        